<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration"/>
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common"/>
  </configSections>
  <connectionStrings>
    <!-- Use the localdb sql server. Make sure to run the database creation script before running the tests. -->
    <add name="TestDatabase" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=TransientFaultHandlingTest;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!-- You can also use a real SQL Azure database by configuring the connection string below. -->
    <!--<add name="TestDatabase" connectionString="Data Source=tcp:[INSERT SERVER NAME HERE].database.windows.net;Initial Catalog=TransientFaultHandlingTest;User ID=[INSERT USER ID HERE];Password=[INSERT PASSWORD HERE];MultipleActiveResultSets=False;Connect Timeout=60;"/>-->
  </connectionStrings>

  <RetryPolicyConfiguration 
        defaultRetryStrategy="Default Retry Strategy" 
        defaultSqlConnectionRetryStrategy="Default SqlConnection Retry Strategy" 
        defaultSqlCommandRetryStrategy="Default SqlCommand Retry Strategy" 
        defaultAzureServiceBusRetryStrategy="Default Azure ServiceBus Retry Strategy" 
        defaultAzureCachingRetryStrategy="Default Azure Caching Retry Strategy" 
        defaultAzureStorageRetryStrategy="Default Azure Storage Retry Strategy">
    <!-- For testing default and non-default configurations -->
    <incremental name="Default Retry Strategy" initialInterval="00:00:01" retryIncrement="00:00:01" maxRetryCount="1" />
    <incremental name="Default SqlConnection Retry Strategy" initialInterval="00:00:01" retryIncrement="00:00:01" maxRetryCount="1" />
    <incremental name="Default SqlCommand Retry Strategy" initialInterval="00:00:01" retryIncrement="00:00:01" maxRetryCount="1" />
    <incremental name="Default Azure ServiceBus Retry Strategy" initialInterval="00:00:01" retryIncrement="00:00:01" maxRetryCount="1" />
    <incremental name="Default Azure Caching Retry Strategy" initialInterval="00:00:01" retryIncrement="00:00:01" maxRetryCount="1" />
    <incremental name="Default Azure Storage Retry Strategy" initialInterval="00:00:01" retryIncrement="00:00:01" maxRetryCount="1" />
    <incremental name="Incremental Non Default" initialInterval="00:00:01" retryIncrement="00:00:02" maxRetryCount="3" firstFastRetry="false"/>
    <exponentialBackoff name="Exponential Backoff Non Default" minBackoff="00:00:01" maxBackoff="00:00:02" deltaBackoff="00:00:00.3000000" maxRetryCount="4" firstFastRetry="false"/>
    <fixedInterval name="Fixed Interval Non Default" retryInterval="00:00:02" maxRetryCount="2" firstFastRetry="false" />
    
    <!-- For testing Incremental retry strategies scenarios -->
    <incremental name="Incremental, 5 retries" initialInterval="00:00:00.2000000" retryIncrement="00:00:00.2000000" maxRetryCount="5" firstFastRetry="false" />
    <incremental name="Incremental, 5 retries in Milliseconds" initialInterval="00:00:00.1000000" retryIncrement="00:00:00.1000000" maxRetryCount="5" firstFastRetry="false" />
    <incremental name="Incremental, 5 retries, no fast retry" initialInterval="00:00:01.0000000" retryIncrement="00:00:01.0000000" maxRetryCount="5" firstFastRetry="false" />
    <incremental name="Incremental, 5 retries, first retry is fast" initialInterval="00:00:01.0000000" retryIncrement="00:00:01.0000000" maxRetryCount="5" firstFastRetry="true" />

    <!-- For testing Exponential Backoff retry strategies scenarios -->
    <exponentialBackoff name="Exponential Backoff Non Default" minBackoff="00:00:01" maxBackoff="00:00:02" deltaBackoff="00:00:00.3000000" maxRetryCount="4" firstFastRetry="false"/>
    <exponentialBackoff name="Exponential Backoff, 5 retries" minBackoff="00:00:00.2000000" maxBackoff="00:00:01" deltaBackoff="00:00:0.1000000" maxRetryCount="5" firstFastRetry="false"/>
    <exponentialBackoff name="Exponential Backoff, 5 retries in Milliseconds" minBackoff="00:00:00.1000000" maxBackoff="00:00:00.5000000" deltaBackoff="00:00:0.1000000" maxRetryCount="5" firstFastRetry="false"/>
    <exponentialBackoff name="Exponential Backoff, 5 retries, no fast retry" minBackoff="00:00:01" maxBackoff="00:00:05" deltaBackoff="00:00:0.2000000" maxRetryCount="5" firstFastRetry="false"/>
    <exponentialBackoff name="Exponential Backoff, 5 retries, first retry is fast" minBackoff="00:00:01" maxBackoff="00:00:05" deltaBackoff="00:00:0.2000000" maxRetryCount="5" firstFastRetry="true"/>

    <!-- For testing Fixed Interval retry strategies scenarios -->
    <fixedInterval name="Fixed Interval, 5 retries" retryInterval="00:00:00.2000000" maxRetryCount="5" firstFastRetry="false" />
    <fixedInterval name="Fixed Interval, 5 retries in Milliseconds" retryInterval="00:00:00.1000000" maxRetryCount="5" firstFastRetry="false" />
    <fixedInterval name="Fixed Interval, 5 retries, no fast retry" retryInterval="00:00:01.0000000" maxRetryCount="5" firstFastRetry="false" />
    <fixedInterval name="Fixed Interval, 5 retries, first retry is fast" retryInterval="00:00:01.0000000" maxRetryCount="5" firstFastRetry="true" />

    <!-- For testing retry scenarios -->
    <fixedInterval name="Retry 5 times" retryInterval="00:00:00.5000000" maxRetryCount="5" firstFastRetry="false" />
    <fixedInterval name="Retry 2 times, first retry is fast" retryInterval="00:00:00.5000000" maxRetryCount="2" firstFastRetry="true" />

    <!-- For testing extensibility -->
    <add customProperty="abc" name="Test Retry Strategy" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Bvt.Tests.TestObjects.TestRetryStrategy, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Bvt.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </RetryPolicyConfiguration>
  
  <typeRegistrationProvidersConfiguration>
    <clear/>
    <add name="Caching" sectionName="cachingConfiguration"/>
    <add name="Cryptography" sectionName="securityCryptographyConfiguration"/>
    <add name="Exception Handling" sectionName="exceptionHandling"/>
    <add name="Instrumentation" sectionName="instrumentationConfiguration"/>
    <add name="Logging" sectionName="loggingConfiguration"/>
    <add name="Policy Injection" sectionName="policyInjection"/>
    <add name="Security" sectionName="securityConfiguration"/>
    <add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation"/>
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration"/>
  </typeRegistrationProvidersConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>